#img{
    height: auto;
    max-width: 100%;
}
.section-2>a,.section-3>a{
    margin: 30px 30px;
}

header{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: black;
}

input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    display: block;
}

.btn{
    display: block;
}

@media screen and (max-width: 600px){
    .logo{
        font-size: 14px;
    }
    
    a{
        font-size: 10px;
    }
}